<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/index.js" defer></script>
</head>
<body>
    <style>
        :root {
            --primary-foreground:   {{ .PrimaryForegroundColor   }};
            --primary-background:   {{ .PrimaryBackgroundColor   }};
            --secondary-foreground: {{ .SecondaryForegroundColor }};
            --secondary-background: {{ .SecondaryBackgroundColor }};
            background: var(--primary-background);
            color: var(--primary-foreground);
        }
    </style>
    <div class="layout">
        <div class="header">
            <h1>Your Webdeck:</h1>
        </div>
        <div class="gridContainer">
            {{ range .Scripts }}
            <div class="script-button {{ if eq .Toggle true }} toggle {{ else }} {{ end }}" data-id='{{ .ID }}'>
                <p>
                    {{ .Description }}
                </p>
            </div>
            {{ end }}
        </div>
        <div class="monitor">
            <div class="monitor-header">
                <h2>Servidor</h2>
                <p id="ram-servidor">placeholder</p>
                <p id="cpu-servidor">placeholder</p>
            </div>
            <div class="monitor-header">
                <h2>PC</h2>
                <p id="ram-pc">100% 16gb/16gb</p>
                <p id="cpu-pc">100% 16/16</p>
            </div>
    </div>
</body>
