:root {
    background: Black;
    color: White;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.script-button {
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 20rem;
    text-align: center;
    border-radius: 0.5rem;
    background: Gray;
    color: White;
}
